@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
margin: 0;
padding: 0;
font-family: 'Architects Daughter', cursive;
box-sizing: border-box;
}


.banner{
	width: 100%;
	height: 100vh;
	color: ;
	background-size: cover;
	background-position: center;
}

.logo{
	cursor: pointer;
	color: #27c460;
	font-size: 25px;
	font-weight: bolder;
        padding-left: 60px;
}

/* navbar start */

.navbar{
	width: 100%;
	background-color: #c1e6c7;
	margin: auto;
	padding: 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	font-size: 20px;              
	color: #27c460;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 4px;
	width: 0%;
	background: black;
	position: absolute;
	right: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

/* navbar finish */

/* content start */


.header{
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 5px;
}


.secheader{
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  margin-top: 20%;
  margin-bottom: 5px;
}

.row {
	margin-bottom: 25px;
  }

.column {
  float: top;
  font-size: 20px;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

p {
  margin-top: 15%;
  margin-left: 15%;
}

.footer {
  alignment-baseline: bottom;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  background-color: #ffffff;
}
